.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  /*center the content*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*end center the content*/

  // margin-bottom: 20px;
}
