.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;

    &_titleSection{
        display: flex;
        flex-direction: row;
        /*two elements at the edges*/
        // justify-content: space-between;
        // align-items: center;
        /*end two elements at the edges*/





        // justify-content: space-between;
        // align-items: center;
        // margin-bottom: 20px;
        &_title{
            font-size: 24px;
            display: flex;
            /*left upper corner*/
            // justify-content: start;
            // align-items: start;
            
            // font-weight: 600;
        }
        &_counter{
            font-size: 16px;
            display: flex;

            // font-weight: 600;
        }
        
    }
  
  }
  